__pycache__/chromadb_utils.cpython-310.pyc
__pycache__/dump_utils.cpython-310.pyc
__pycache__/embeddings_utils.cpython-310.pyc
dist/VectorDB_Operations-0.1-py3.10.egg
vectDB/cholas-vdb/chroma.sqlite3
vectDB/cholas-vdb/2a684ebc-7dae-4db7-8a5c-7af7f1fbe697/data_level0.bin
vectDB/cholas-vdb/2a684ebc-7dae-4db7-8a5c-7af7f1fbe697/header.bin
vectDB/cholas-vdb/2a684ebc-7dae-4db7-8a5c-7af7f1fbe697/length.bin
vectDB/cholas-vdb/2a684ebc-7dae-4db7-8a5c-7af7f1fbe697/link_lists.bin
vectDB/mahabharata-vdb/chroma.sqlite3
vectDB/mahabharata-vdb/3ea42731-446c-477a-a9b3-dc0d58002392/data_level0.bin
vectDB/mahabharata-vdb/3ea42731-446c-477a-a9b3-dc0d58002392/header.bin
vectDB/mahabharata-vdb/3ea42731-446c-477a-a9b3-dc0d58002392/length.bin
vectDB/mahabharata-vdb/3ea42731-446c-477a-a9b3-dc0d58002392/link_lists.bin
vectDB/pdf-vectorDB/chroma.sqlite3
vectDB/pdf-vectorDB/22b96e81-ce51-43b3-bb6d-cc4bed3701cb/data_level0.bin
vectDB/pdf-vectorDB/22b96e81-ce51-43b3-bb6d-cc4bed3701cb/header.bin
vectDB/pdf-vectorDB/22b96e81-ce51-43b3-bb6d-cc4bed3701cb/length.bin
vectDB/pdf-vectorDB/22b96e81-ce51-43b3-bb6d-cc4bed3701cb/link_lists.bin
vectDB/pdf-vectorDB/242d8dbd-191e-43f4-9294-532e7f1349ee/data_level0.bin
vectDB/pdf-vectorDB/242d8dbd-191e-43f4-9294-532e7f1349ee/header.bin
vectDB/pdf-vectorDB/242d8dbd-191e-43f4-9294-532e7f1349ee/length.bin
vectDB/pdf-vectorDB/242d8dbd-191e-43f4-9294-532e7f1349ee/link_lists.bin
vectDB/pdf-vectorDB/5ed153b7-e99e-4e5a-82f3-5b0b04d975b2/data_level0.bin
vectDB/pdf-vectorDB/5ed153b7-e99e-4e5a-82f3-5b0b04d975b2/header.bin
vectDB/pdf-vectorDB/5ed153b7-e99e-4e5a-82f3-5b0b04d975b2/length.bin
vectDB/pdf-vectorDB/5ed153b7-e99e-4e5a-82f3-5b0b04d975b2/link_lists.bin
vectDB/pdf-vectorDB/8cdd2fd8-9823-4e21-9e7a-1f337b7c942e/data_level0.bin
vectDB/pdf-vectorDB/8cdd2fd8-9823-4e21-9e7a-1f337b7c942e/header.bin
vectDB/pdf-vectorDB/8cdd2fd8-9823-4e21-9e7a-1f337b7c942e/length.bin
vectDB/pdf-vectorDB/8cdd2fd8-9823-4e21-9e7a-1f337b7c942e/link_lists.bin
vectDB/progrmminVDB/chroma.sqlite3
vectDB/progrmminVDB/edaec396-d662-4230-b646-8b6730d309c8/data_level0.bin
vectDB/progrmminVDB/edaec396-d662-4230-b646-8b6730d309c8/header.bin
vectDB/progrmminVDB/edaec396-d662-4230-b646-8b6730d309c8/length.bin
vectDB/progrmminVDB/edaec396-d662-4230-b646-8b6730d309c8/link_lists.bin
vectDB/ramayan-vdb/chroma.sqlite3
vectDB/ramayan-vdb/69e6185f-5abb-44c8-8c42-b9fc17136bc9/data_level0.bin
vectDB/ramayan-vdb/69e6185f-5abb-44c8-8c42-b9fc17136bc9/header.bin
vectDB/ramayan-vdb/69e6185f-5abb-44c8-8c42-b9fc17136bc9/length.bin
vectDB/ramayan-vdb/69e6185f-5abb-44c8-8c42-b9fc17136bc9/link_lists.bin
VectorDB_Operations.egg-info/dependency_links.txt
VectorDB_Operations.egg-info/PKG-INFO
VectorDB_Operations.egg-info/requires.txt
VectorDB_Operations.egg-info/SOURCES.txt
VectorDB_Operations.egg-info/top_level.txt
